{% extends 'base.html.twig' %}

{% block body %}

    <footer>
        <div class="section">
            <a href="https://www.instagram.com/zahra_by_a/"><img src="{{ asset("build/pictures/icons8-instagram.svg")}}" alt="lien vers snap"  /></a>
        </div>
    </footer>

{% endblock %}