{% extends 'base.html.twig' %}

{% block body %}

    <nav>
        <div class="section">
            <img src="{{ asset("build/pictures/panier.svg")}}" alt="ajouter au panier" />
            <a href="{{ path('home') }}">Zahra By A</a>
        </div>
    </nav>

{% endblock %}